# .NET ve Visual Studio Atıkları
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esults/
*.suo
*.user
*.userosscache
*.sln.docstates

# Python Atıkları
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# İşletim Sistemi ve IDE Atıkları
.DS_Store
Thumbs.db
.vscode/
.idea/

# Kullanıcıya Özel veya Cihaza Özel Yapılandırmalar
appsettings.Development.json

# Yüksek Boyutlu Ekstra Model veya Log Dosyaları (Ağırlık Yapanlar)
*.log
*.sqlite
*.db
